<div class="container-messages">
  <h1>Virtual Cat</h1>
  <h3 class="text-border">How to Play Virtual Cat!</h3>
  <br>
  <h4 class="text-border"> * Work to get gold * </h3>
  <h4 class="text-border"> * Use gold to buy treats, milk, and toys * </h4>
  <h4 class="text-border"> * Cuddle with your cat to gain energy * </h4>
  <h4 class="text-border"> * Visit the shop to buy accessories * </h4>
  <br>
  <h1>Coming Soon!</h1>
  <h4 class="text-border"> * If you don't take care of your cat, it might run away!! * </h4>
  <h4 class="text-border"> * New accessories in the shop!! * </h4>
  <h4 class="text-border"> * Upgrade the quality of treats, milk, and toys!! * </h4>
  <h4 class="text-border"> * Choose different types of cats at register!! * </h4>
  <br>
  <h1>Want a new Cat?</h1>
  <h3>Well you can't. Be faithful to your cat or <span style="color:red">else</span>... (｀皿´＃)</h3>
</div>