<img src="/images/background.jpg" class="background"/>
<div class="container-messages">
  <h1>Virtual Cat</h1>
  <h3>Welcome to Virtual Cat!</h3>
  <br>
  <h3 class="text-border">Have a cat? Sign in!</h3>
  <form method="POST">
    <h3 class="btn-go-line"><input type="text" name="username">
    <input type="submit" value="Go!" class="btn btn-default"></h3>
  </form>
  <br>
  <h3 class="text-border"><a href="/name" class="link-go">Need a Cat?</a></h3>
<?div>