<h1>Virtual Cat</h1>
<p>Welcome to Virtual Cat!</p>
<br>
<p>Have a cat? Sign in!</p>
<form method="POST">
  <input type="text" name="username">
  <input type="submit" value="Go!">
</form>
<br>
<a href="/name">Need a Cat?</a>