<img src="/images/background.jpg" class="background"/>
<div class="container-messages">
  <h1>Virtual Cat</h1>
  <h3>Welcome to Virtual Cat!</h3>
  <br>
  <h3 class="text-border">Have a cat? Sign in!</h3>
  <h3 class="btn-go-line"><input type="text" name="username" id="username"></h3>
  <h3 class="btn-go-line"><input type="text" name="password" id="password">
  <input type="button" value="Go!" class="btn btn-default" id="Go"></h3>
  </form>
  <br>
  <h3 class="text-border"><a href="/name" class="link-go">Need a Cat?</a></h3>
</div>
<script type="text/javascript" src="/javascripts/start.js"></script>