<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Cat</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/paw_prints.png" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
