<img src="/images/background.jpg" class="background"/>
<div class="container-messages">
  <h1>Virtual Cat</h1>
  <h3 class="text-border">Welcome to Virtual Cat!</h3>
  <br>
  <form method="POST" id="create-form">
    <h3 class="text-border">username: <input type="text" id="username" name="username" class="btn-go-line" required></h3>
    <h3 class="text-border">password: <input type="text" id="password" name="password" class="btn-go-line" required></h3>
    <h3 class="text-border">cat name: <input type="text" id="cat_name" name="cat_name" class="btn-go-line" required></h3>
    <!-- be able to choose cat type later -->
    <input type="submit" value="Go!" id="submit" class="btn btn-default btn-go">
  </form>
</div>

<script type="text/javascript" src="/javascripts/validate.min.js"></script>
<script type="text/javascript">
  var validator = new FormValidator('create-form', [{
      name: 'username',
      rules: 'required|alpha_numeric'
  }, {
      name: 'cat_name',
      rules: 'required|alpha'
  }], function(errors, event) {
      if (errors.length > 0) {
          alert(errors[0].message);
      }
  });
</script>