<img src="/images/background.jpg" class="background"/>
<div class="container-messages">
  <h1>Virtual Cat</h1>
  <h3 class="text-border">Welcome to Virtual Cat!</h3>
  <br>
  <form method="POST">
    <h3 class="text-border">username: <input type="text" name="username" required></h3>
    <h3 class="text-border">cat name: <input type="text" name="cat_name" required></h3>
    <!-- be able to choose cat type later -->
    <input type="submit" value="Go!" class="btn btn-default btn-go">
  </form>
</div>