<div class="container-messages">
  <h1>404 Cat Not Found!</h1>
  <h4 class="text-border">Please re-login. <a href="/" class="link-go">Go! -></a></h4>
  <img src="/images/nocat.png" class="cat" />
</div>