@import url(bootstrap.min.css);
@font-face {
  font-family: "Cookies";
  src: url("../fonts/Cookies.ttf"); }
body {
  font-family: "Cookies", Helvetica, Arial, sans-serif;
  min-height: 800px;
  height: 100%; }
  body .btn-default:focus, body .btn-default:active {
    outline: none !important; }

a {
  color: #00B7FF; }

* {
  box-sizing: border-box; }

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%; }

.cat {
  position: fixed;
  top: 0%;
  left: 0%;
  max-width: 480px;
  max-height: 660px;
  transform: translate(50%, 50%); }

.view {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: center; }

.container-messages {
  position: relative;
  padding-top: 5%;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000; }
  .container-messages table {
    width: 25%;
    margin: auto; }

#container-shop {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #d2a679;
  display: none;
  border: 4px solid #993333;
  border-radius: 4%;
  padding: 2%; }
  #container-shop .btn-exit {
    background-color: #993333;
    border: 2px solid #602020;
    color: white;
    font-family: "Cookies", Helvetica, Arial, sans-serif;
    font-size: 24px;
    display: inline; }
  #container-shop h1 {
    color: white;
    display: inline;
    vertical-align: bottom;
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000; }
  #container-shop table {
    margin-top: 4%; }

#container-shop {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #d2a679;
  display: none;
  border: 4px solid #993333;
  border-radius: 4%;
  padding: 2%; }
  #container-shop .btn-exit {
    background-color: #993333;
    border: 2px solid #602020;
    color: white;
    font-family: "Cookies", Helvetica, Arial, sans-serif;
    font-size: 24px;
    display: inline; }
  #container-shop h1 {
    color: white;
    display: inline;
    vertical-align: bottom;
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000; }
  #container-shop table {
    margin-top: 4%; }

.text-border {
  text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 3px 3px #000, -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000; }

.actions {
  position: absolute;
  top: 0;
  left: 48%;
  margin: 0.5%;
  margin-top: 0.75%;
  padding: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  border-radius: 50px;
  border: 4px solid #ccc;
  background-color: white;
  height: 98%; }

.btn-large {
  height: 175px;
  width: 175px;
  font-size: 24px;
  border-radius: 25%;
  white-space: normal;
  word-break: break-word; }

.btn-upgrade {
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 10px;
  padding-left: 11px;
  height: 40px;
  width: 40px;
  top: 1px;
  font-size: 18px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1; }
  .btn-upgrade:focus, .btn-upgrade:active {
    outline: none !important; }

.div-wrap {
  margin-top: 2%; }

.progress {
  width: 100%;
  display: inline-block;
  vertical-align: text-bottom; }

p.stat-label {
  font-size: 20px;
  font-weight: bold; }

.img-small {
  display: inline-block;
  width: 10%;
  height: 10%; }

#cat-name {
  display: inline-block; }

div.stat-name {
  margin: auto;
  width: 90%;
  margin-bottom: 0px; }

div.stats {
  text-align: left; }

td.stat-text {
  font-size: 20px;
  text-align: left;
  vertical-align: text-bottom; }

div.gold-count {
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0;
  width: 100%;
  height: 87px;
  background-color: #FFF;
  padding-top: 4%; }

.gold-label {
  width: 200px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 10px 0 0 10px; }

.img-gold {
  width: 60px;
  height: 75px; }

.gold-row {
  height: 100px; }

table {
  margin: auto;
  width: 90%; }

td.stat-progress {
  width: 80%; }

td.stat-label {
  text-align: left;
  width: 20%; }

.link-go {
  text-decoration: none; }
  .link-go:hover {
    font-size: 32px;
    text-decoration: none; }

.btn-go {
  border-radius: 10px;
  font-size: 24px;
  padding: 10px;
  width: 150px;
  margin-top: 20px; }

.btn-go-line {
  color: black; }

table.space {
  margin-bottom: 5%; }

.red {
  border: 3px solid red; }

#acc {
  transform: translate(150%, 110%) rotate(-45deg); }

#help {
  margin-top: 18%; }
  #help a {
    color: #77ff33; }

/*# sourceMappingURL=style.css.map */
