<h1>Virtual Cat</h1>
<p>Welcome to Virtual Cat!</p>
<br>
<form method="POST">
  <p>username: <input type="text" name="username" required></p>
  <p>cat name: <input type="text" name="cat_name" required></p>
  <!-- be able to choose cat type later -->
  <input type="submit" value="Go!">
</form>