<div class="view">
  <img src="/images/background.jpg" class="background"/>
  <img src="/images/cat.png" class="cat" />
</div>
<div class="actions">
  <button class="btn btn-default btn-large" id="work">Work!</button><button class="btn btn-default btn-upgrade"><i class="glyphicon glyphicon-plus"></i></button>
  <button class="btn btn-default btn-large" id="toy">Toy!</button><button class="btn btn-default btn-upgrade"><i class="glyphicon glyphicon-plus"></i></button>
  <button class="btn btn-default btn-large" id="treat">Treat!</button><button class="btn btn-default btn-upgrade"><i class="glyphicon glyphicon-plus"></i></button>
  <button class="btn btn-default btn-large" id="cuddle">Cuddle!</button><button class="btn btn-default btn-upgrade"><i class="glyphicon glyphicon-plus"></i></button>
  <button class="btn btn-default btn-large" id="milk">Milk!</button><button class="btn btn-default btn-upgrade"><i class="glyphicon glyphicon-plus"></i></button>
  <button class="btn btn-default btn-large" id="milk" disabled>Cat Cafe!</button><button class="btn btn-default btn-upgrade" disabled><i class="glyphicon glyphicon-plus"></i></button>

  <div class="stats">
    <p>Mood</p>
    <p>Hunger</p>
    <p>Thirst</p>
  </div>
</div>

